
body {
	font-family: "Lucida sans";
	padding-top: 60px;
}
// NAVBAR STYLES
.danish-navbar {
	background-color: #C60C30;
	border: #C60C30;
	height: 80px;
}

.menu-btn {
	margin-top:20px;
}

.responsive-wrapper {
	background-color: #C60C30;
	border: #C60C30;
	.sign-in-wrapper {
		border-color:#C60C30;
	}
}

.sign-in-label{
	color: white!important;
	p {
		margin: 0;
	}
}

.navbar-email-group {
	display:block;
}

.sign-in-btn {
	background-color:#940924;
	color:white;
	border:1px solid #333;
	box-shadow: 2px 2px 2px 0 #333 inset;

}

.value-messages {
	color:#555;
	ul {
		list-style-type: none;
		padding:0;
		li {
			margin: 10px 0;
			img {
				padding: 10px;
			}
			#like {
				height:70px;
				width:auto;
				opacity: 0.5;
			}
		}
	}
}


