$prime-blue: #2B78E4;

$secondary-blue: #9FC5F8;

$prime-black: #000;


.navbar-default {
	background-color: $prime-blue;

	.container{
		margin-bottom: 10px;
	}

	.navbar-brand{
		font-size: 35px;
		font-weight: 500;
		color: $prime-black;
	}

	@media (min-width: 768px){
		.navbar-brand{
			font-size: 35px;
			font-weight: 500;
			color: $prime-black;
			margin-top: 15px;
		}
	}

	.navbar-brand:hover{
		color: $prime-black;
	}

	button{
		color: $prime-black;
	}

	button:hover{
		color: $prime-black;
	}
	.navbar-toggle{
		outline-color: $prime-black;
		.icon-bar{
			background-color: $prime-black;

		}
	}

	#main-navbar-collapse{
		.navbar-form{
			@media (min-width: 768px){
				p{
					margin-top: 0;
					margin-bottom: 0;
				}
				button{
					margin-top: 20px;
				}
			}
		}
	}

}
