#topnav{
  color:white;
  justify-content: center;
}
body {
  margin-top:100px;
}
.navbar-brand {
    margin-top: 10px;
    font-size: 29px;
}
.navbar-brand.hover{
  color:white;
}
#signin {
  margin-top:27px;
}
