btn-signup{
  font-size: 2em;
  margin-top: 20px;
  box-shadow: 0 3px 2px 0 #292626;
  }

li{
  font-size: 20px;
  color: #807575;
  margin-top: 16px;
}

.navbar-default {
  background-image: none;
  background-color: #443F9E;
  color: #fff;
  border-radius: 0;
  border: none;
  width: 100%;
}

.navbar-form {
margin-top: 15px;
}


.navbar-header{
  a {
font-size: 40px;
line-height: normal;
margin: 15px 0 0 15px;
}

a:link {
color: #fff;
}
}

.btn-primary {
background-color: #A9A7CC;
color: #000;
padding: 5px 15px;
font-weight: bold;
margin: 0 0 10px 5x;
border-radius: 0;
box-shadow: 0 3px 2px 0 #292626;
}

.custom-form {
border-radius: 0;
border: 2px solid #000;
}


  ul{
  list-style-type: circle;
}