// vars
$blue-accent: #2b78e4
$white: #fff




/* layout/positioning */
body
  padding-top: 95px /* for fixed navbar */

header
  height: 75px

.custom-h2
  margin-top: 60px

.custom-intro li
  margin: 20px 0




/* base */
header
  background-color: $blue-accent

.custom-brand
  color: $white
  font-size: 36px
  line-height: 2em

label
  font-weight: normal /* override bootstrap */

h3
  margin-top: 35px




/* sign in form */
#navbar form
  background-color: $blue-accent

#navbar label
  color: $white
  display: block

#navbar input
  margin-right: 15px

.custom-btn
  padding-top: 2px
  padding-bottom: 2px
  margin-top: 5px

.icon-bar
  background-color: $white




/* sign up form */
/* makes name fields responsive */
#fname, #lname
  width: 100%

@media only screen and (min-width: 1200px)
  #fname, #lname
    width: 178px