// vars
$blue-accent: #2b78e4
$white: #fff




/* layout/positioning */
body
  padding-top: 95px /* for fixed navbar */

header
  height: 75px

.custom-h2
  margin-top: 60px

.custom-intro li
  margin: 20px 0




/* base */
header
  background-color: $blue-accent
  color: $white

  a
    color: $white