/* bootstrap sprint */

/*
body {
  font-family: "Helvetica-Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: black;
  / from bootstrap.min.css.5 /
}

/ header bar /

body {
  padding-top: 50px;
  padding-bottom: 20px; 
  / (from jumbotron.css.2)
      "move down content because
      fixed navbar is 50px tall" /
}
*/


/* header -- log in form */


h1 {
  font-size: 40px;
  line-height: 55px;
  margin: auto;
  }

body {
  margin: auto;
  width: 97%;
  }

.container-fluid {
  display: inline-block;
  width: 1150px;
  height: 60px;
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 5px;
  margin: auto;
  color: black;
  border: 2px solid black;
  background-color: #046ddc; /* azure */
}

/* does this have be present because of media inq? */
.project-name {
}

@media screen and (max-width: 992px) {
  .project-name {
    display: none;
  }
}  


/* FOR DISCUSSION */
/* how do you change .email and remove the offset? 
    <section class="col-md-2 col-md-offset-5 email">
      <label>
        <a>Email</a>
        <input type="email" name="email-address">
      </label>
    </section>
*/


a {
  font-size: 15px;
  color: white;
  text-align: left;
  margin-left: 2px;
}

input {
  height: 20px;
  width: 100%;
  padding-top: 10px;
  background-color: white;
  border: 2px solid black;
}

.btn {
  width: 100%;
  height: 20px;
  margin: 20px 0 0 0;
  padding: 0 12px;
  text-align: center;
  color: black;
  background-color: #72ceed; /* light azure */
  border: 2px solid black;
  border-radius: none;
  border-shadow: 2px 2px;
}

/* connect with ... (left bottom) */
/* sign up form */

.container {
  width: 1150px;
  margin: auto;
}



.col-md-7, .col-md-5 {
  display: inline-block;
  text-align: center;
  height: 400px;
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  .col-md-7 {          /* invitation area */
    display: none; 
  }
}


