/* color of the main header background*/
.navbar-default {
  background-color: #2b78e4;
  color: #fff;
  border-bottom: 3px solid #333;
  min-height: 96px;
  padding-top: 20px; }
  .navbar-default .navbar-header a {
    color: #fff;
    font-size: 36px; }

/* hack to get login submit button inline with labeled text fields*/
#login-button-column {
  height: 100%;
  position: relative;
  bottom: -24px; }
  #login-button-column button {
    width: 100px;
    font-weight: bold;
    background-color: #9FC5F8; }

/* pixel-perfect stuff on the signup portion*/
main section input {
  margin-bottom: 8px; }
main section select {
  margin-bottom: 8px; }

/* These three fix the firstname lastname form alignment*/
#signup-width {
  width: 100%; }

form[role="signup"] {
  margin-bottom: 8px; }

#btn-signup {
  font-weight: bold; }
