/* color of the main header background*/
.navbar-default {
  background-color: #2b78e4;
  color: #fff;
  border-bottom: 3px solid #333;
  min-height: 96px;
  padding-top: 20px; }
  .navbar-default .container-fluid .navbar-header a {
    color: #fff;
    font-size: 36px; }

/* square and shadowed like the mockup */
form button[type="submit"] {
  border-radius: 0;
  border: 2px solid black;
  box-shadow: 3px 3px 3px black; }

#login-button-column {
  height: 100%;
  position: relative;
  bottom: -24px; }
  #login-button-column button {
    width: 100px;
    font-weight: bold;
    background-color: #9FC5F8; }
