/* Keep overrides minimal to avoid fighting Bootstrap */


/* color of the main header background*/
$danebook: #2B78E4;


.navbar-default {
    background-color: $danebook;
    color: #fff;
    border-bottom: 3px solid #333;
    min-height: 96px;
    padding-top: 20px;
    
    .navbar-header {
      a {
        color: #fff;
        font-size: 36px;
      }
    }
}



/* space out these forms
Sometimes need deep specificity to override Bootstrap*/
 
#sign-up-forms {
  form {
    input, select {
      margin-bottom: 8px;
    }
  }
}

