$danebook-blue: #3385ff;


body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-default {
	background-color: $danebook-blue;

	.navbar-brand {
		color: #fff;
	}
}

.col-middle {
	padding-top: 10%;
}