$control-height: 75px;

.navbar {
  min-height: $control-height;
}

.navbar-brand {
  height: $control-height;
  font-size: 32px;
}

body {
  padding-top: $control-height;
  padding-bottom: 20px;
}

.navbar-inverse {
  background-color: #2B78E4;
}
