main {
    margin-top: 97px;
}

.navbar {
    background-color: #2B78E4;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    label {
        color: white;
    }

    .navbar-brand {
        color: white;
        font-size: 44px;
        vertical-align: middle;
        line-height: inherit;
        height: 90px;
    }

    h1 {
        color: white;
    }
}

.navbar-form {
    border: none;
    box-shadow: none;

    .form-group {
        h6 {
            color: white;
            font-size: 14px;
            padding: 0;
        }
    }
}

#myNavbar {
    border: none;
    box-shadow: none;
}

#login-email,
#login-password {
    margin-right: 10px;
    border: 2px black solid;
}

#login-button {
    font-weight: bold;
    background-color: #9FC5F8;
    color: black;
    margin-top: 34px;
    margin-right: 15px;
    border: 2px black solid;
}

#left-panel {
    padding-top: 65px;
    margin-bottom: 45px;
    font-size: 20px;

    li {
        padding: 10px;
        color: #736866;
    }
}

#right-panel {
    padding-top: 20px;
    padding-bottom: 20px;

    header {
        padding-bottom: 10px;
    }

    .form-group .account-info-input {
        border: 2px #CFCFCF solid;
    }

    #birthday-select {
        padding-top: 2px;
    }

    #gender-select {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #option-gender-female,
    #option-gender-male {
        border: 2px black solid;
    }

    select {
        border: 2px black solid;
    }
}

#signup-button {
    border: 2px black solid;
}

.navbar-toggle {
    margin-top: 28px;
    margin-bottom: 28px;
}
