$bgDefault      : #2b78e4;
$bgHighlight    : #2b36c0;
$colDefault     : #ecf0f1;
$colHighlight   : #0a0b0b;
$dropDown       : false;

nav.navbar-default {
    background-color: $bgDefault;
    border-color: black;
    color: #ecf0f1;
    .navbar-brand h1 {
        margin-top: 0px;
        color: white;
    }
    .navbar-right .collapse button{
        background-color: #0af;
        color: black;
        font-weight: bold;
    }
    .navbar-right .collapse button:hover{
        background-color: #bef;
        color: black;
    }
}
.container .row aside {
    .centering {
        margin-top: 70px;
        padding-left: 5px;
        margin-left: -5%;
    }
    h2 {
        padding-bottom: 5px;
        font-weight: bold;
    }
    ul li {
        padding-bottom: 8px;
        color: gray;
        font-size: 19px;
        font-weight: light;
    }
}
