nav {
    background-color: #3C5A99;
    
    #navbar {
        //margin-top: 25px;
        line-height: 75px;
        vertical-align: middle;
    }
  
        h1 {
            color: white;
            font-weight: bold;
            font-size: 3.5em;
        }
    
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
}

// aside {
//     display: inline-block;
//     float: left;
//     h2 {
//         font-weight: bold;
//     }
// }

// main section {
//     display: inline-block;
//     float: left;
//     h1 {
//         font-weight: bold;
//     }
// }