$standard-spacing: 10px;

.main-nav
{
	background-color: #2B78E4;
	height: 80px;
}
.brand-text
{
	color: white;
	font-weight: bold;
	font-size: 35px;
	line-height: 45px;
}

.vertical-align 
{
	position: absolute;
	top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%); 
}
.main-list li 
{
	font-size: 20px;
	margin-bottom: $standard-spacing;	
}
.main-header
{
	font-weight: bold;
	margin-bottom: 20px;
}
.signup-form
{
	margin-top: 20px;
}
.signup-form 
{ 
	input
	{
		margin-bottom: $standard-spacing;
	}
	h5 
	{
		font-weight: bold;
	}
	label
	{
		margin-top: $standard-spacing;
		margin-right: 10px;
	}
	button 
	{
		margin-top: $standard-spacing;
	}
}