$primary-font: helvetica, Arial, sans-serif;
body {
  padding-top: 72px;
  padding-bottom: 20px;
  font-family: $primary-font;
}
nav {
  background-color: #2B78E4;
  .navbar-brand {
    color: #fff;
    font-size: 32px;
    padding-top: 25px;
  }
  .navbar-header {
    button {
      border: 1px solid #fff;
      span {
        background-color: #fff;
      }
    }
  }
  .btn {
    width: 80px;
    margin-top: 19px;
    background-color: #9FC5F8;
    font-family: $primary-font;
    font-weight: 800;
  }
  p {
    margin-bottom: 2px;
    color: #fff;
  }
}
main {
  .info-container {
    margin-top: 100px;
    li {
      color: #666;
    }
  }
  .signup-container {
    .birthday-label {
      margin-left: -15px;
    }
    .birthday-select {
      margin-left: -15px;
    }
    select {
      border-radius: 0;
      color: #aaa;
    }
    .radio-button {
      margin-left: -15px;
      margin-bottom: 10px;
    }
    .btn {
      font-weight: 800;
    }
  }
}
