.navbar {
	background-color: royalblue;

	button {
		background-color: lightskyblue;
		margin-right: 15px;
	}
}

.navbar-brand {
	color: white;
	margin-left: 10px;

	p{
		font-size: 24px;
	}
}



.jumbotron {
	background-color: white;
	font-size: 20px;

	h2 {
	font-weight: bold;
	font-size: 36px;
}
}

h1 {
	margin-bottom: 20px;
	font-weight: bold
}

li {
	margin-top: 20px;
}
