.navbar {
	background-color: royalblue;
	border-bottom: solid black 2px;
	button {
		background-color: lightskyblue;
		margin-right: 15px;
	}
}

.navbar-brand {
	color: white;
	margin-left: 10px;
	font-size: 24px;
	font-weight: bold;
}

.first-name {
	padding-left: 0;
}

.last-name {
	padding-right: 0;
}

.jumbotron {
	background-color: white;
	font-size: 20px;

	h2 {
	font-weight: bold;
	font-size: 36px;
	}
}

h1 {
	margin-bottom: 20px;
	font-weight: bold
}

h3 {
	margin-bottom: 15px;
}

li {
	margin-top: 20px;
}

.radio-inline {
	margin-bottom: 15px;
}

select {
	margin-bottom: 15px;
}
