@import 'colors';

body {
  margin: 0;
}

.navbar-default {
  /*background-color: $header-background;
  height: 75px;
  .navbar-header {
      .navbar-brand {
        margin: 0;
        color: $brand-logo;
        font-size: 50px;
        font-family: sans-serif;
        text-decoration: none;
      }
  }
}
