nav{
  background-color:#0033cc !important;
  height:100px;
}

.navbar-brand{
  color:white !important;
}
.input{
  color:white;
}
.login{
  margin-top:25px;
}

.welcome-page{
  margin-top:10%;
}


#email{
  margin-top:20px;
  margin-bottom:20px;
}
#password{
  margin-bottom:20px;
}

#sign-up{
  margin-top:20px;
}
