$control-height: 50px;
$element-margin: 10px 0;

.navbar {
  min-height: $control-height;
}

body {
  padding-top: 85px;
  padding-bottom: 20px;
}

.navbar-inverse {
  background-color: #2B78E4;
  .navbar-brand {
    color: #fff;
    height: $control-height;
    font-size: 32px;
    margin: $element-margin;
  }
}

.spacer {
  margin-top: 40px;
}

li {
  font-size: 18px;
  margin: $element-margin;
}

input {
  margin: $element-margin;
}
