#navbar {
  height: 85px;
  background-color: #2B78E4;
  border-bottom: 2px solid black;
  z-index: 9999;
  .navbar-brand {
    color: white;
    font-size: 50px;
    line-height: 50px;
    padding-left: 50px;
  }
  .nav-label {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  input {
    border: 2px solid black;
    margin-right: 16px;
  }
  .collapse {
    background-color: #2B78E4;
  }
  button {
    margin-top: 20px;
    margin-right: 45px;
    background-color: #9FC5F8;
    border: 2px solid black;
    font-weight: bold;
    width: 75px;
  }
}

main {
  padding-top: 100px;
  .info {
    padding-top: 85px;
    h2 {
      font-weight: bold;
      letter-spacing: .05em;
      padding-bottom: 30px;
    }
    ul li {
      font-size: 20px;
      padding-bottom: 15px;
      color: #666;
    }
  }
  .sign-up {
    h1 {
      font-size: 50px;
      margin-bottom: 30px;
    }
    #signup-first-name {
      margin-right: 16px;
    }
    #signup-email {
      margin-top: 15px;
    }
    input {
      border: 2px solid #ccc;
    }
    ul.scroll-menu {
    position: absolute;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    height: auto;
    max-height: 100px;
    margin: 2.6em 0;
    border-right: none;
    border-radius: 0 !important;
    }
    ul.scroll-menu-2x {
    max-height: 230px;
    }
    h4 {
      font-weight: bold;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .btn-group {
      margin-right: 15px;
      margin-bottom: 15px;
    }
    button {
      border: 2px solid #444;
    }
    .radio-inline {
      margin-right: 30px;
      margin-bottom: 15px;
      font-size: 16px;
    }
    #signup-button {
      background-color: #009E0F;
    }
 }
}