* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main{
	position: relative;
	margin: 0 auto;
}

.col-sm-7 {
	padding-top: 120px;
	
	
}

.col-sm-5 {
	padding-top: 120px;
	
	
}

#login-cont {
	position: relative;
	margin: 0 auto;
}
// sass --watch public/stylesheets/style.scss:public/stylesheets/style.css