/* Navbar CSS */

#email, #password {
    color: white;
}

#login {
    margin-top: 23px;
    background: #A0C7FA;
    color: #000;
    box-shadow: 2px 2px black;
    border: 2px solid black;
    font-weight: bold;
}

#login:hover {
    background: #A0C7FA;
    color: #000;
}

.navbar {
    background-color: #2B78E4;
    border-bottom: 2px solid black;
}

.navbar-brand {
    margin-bottom: 50px;
}
.navbar-brand h1 {
    color: white;
    margin-left: 25px;
}

.navbar-form {
    margin-right: 30px;
}

.form-group {
    margin-right: 7px;
}

/* Main Section CSS */

.connect {
    margin-top: 4%;
}
.connect h2{
    font-weight: bold;
    margin-bottom: 5%;
}

.connect li {
    margin-left: 13%;
    text-indent: 1.2em;
    color: #646464;
    margin-top: 12px;
    font-weight: bold;
    font-size: 15px;
}

/* Main Right Section CSS */

#lname {
    margin-left: 5px;
}

#fname, #lname {
    margin-top: 10px;
}

#submit {
    margin-top: 10px;
    background: #009E0F;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 2px black;
    border: 2px solid black;
}

#femaleradio, #maleradio {
    margin-top: 15px;
    margin-left: 10px;
}

.sign-up h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}

.sign-up form {
    text-align: left;
}

.sign-up {
    position: relative;
    float: right;
}

.birthday {
    font-weight: bold;
    margin-top: 25px;
}

.month, .day, .year {
    color: #646464;
}

.day, .year {
    margin-left: 10px;
}
