/*
=============
Navbar
=============
*/

#danebook{
  color: white;
}

.form-group p{
  margin-bottom: 0;
  color: white;
}

.nav-styles{
  background-color: #3b5998;
  padding-bottom: 10px;
  border: none;
  border-radius: none;
}

.connecthead{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 34px;
  margin-top: 40px;
}

.homepagelist li{
  margin-top:20px;
  font-size: 24px;
}

.signhead{
  margin-bottom: 20px;
}

.alignment{
  margin-bottom: 24px
}

.btn-submit{
  width: 100%;
}