$header-color: #2b78e4;
$nav-height: 90px;

nav {
	height: $nav-height;

	#btn-login {
		// transform: translateX(50%);
		position: absolute;
		background-color: #95c5f8;
		width: 120px;
		height: 30px;
		padding: 5px 12px;

	}
}

.navbar {
	background: none;
	color: white;

	background-color: $header-color;

	.navbar-brand {
		font-size: 40px;
		color: #fff;
	}
}

main {
	input {
		border: 1px solid #cacaca;
	}
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 
.div-center {
	height: $nav-height;
}