$header-color: #2b78e4;
$nav-height: 100px;

nav {
	height: $nav-height;

	button {
		transform: translateX(50%);
		// position: absolute;
		// right: 0%;
	}
}

.navbar {
	background: none;
	color: white;

	background-color: $header-color;

	.navbar-brand {
		font-size: 36px;
		// line-height: $nav-height;
		color: #fff;
	}

	.signin-inputs {
	// 	display: block;
		margin-bottom: 0;
	}
}

main {
	input {
		border: 1px solid #cacaca;
	}
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 
.div-center {
	height: $nav-height;
}